<h1>Listing varieties</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @varieties.each do |variety| %>
      <tr>
        <td><%= link_to variety.name, variety %></td>
        <td><%= variety.description.truncate(100) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variety', new_variety_path, :class => 'btn' unless current_user.nil? %>
